/* h3 {
    margin-top: 30px;
    margin-bottom: 15px; 
    padding: 0px; 
    font-weight: bold; 
    color: black; 
    border-bottom: 2px solid rgb(239, 112, 96);
    font-size: 1.3em;
    position: relative;
}

h3:before {
    content: attr(id);
    position: absolute;
    left: 0;
    top: 5px;
    background: rgb(239, 112, 96);
    color: #fff;
    padding: 3px 10px 1px; 
    font-weight: bold;
    border-top-right-radius: 3px; 
    border-top-left-radius: 3px; 
    margin-right: 3px;
    font-size: 0.8em;
}

h3 .content {
    display: inline-block; 
    font-weight: bold;
    background: rgb(239, 112, 96);
    color: #ffffff;
    padding: 3px 10px 1px; 
    border-top-right-radius: 3px; 
    border-top-left-radius: 3px; 
    margin-right: 3px;
}

#nice h3 .prefix {
}

#nice h3 .suffix {
    display: inline-block;
    vertical-align: bottom; 
    border-bottom: 36px solid #efebe9;
    border-right: 20px solid transparent;
} */
